body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212429;
}

/* Прямоугольник */
.center-box-home {
    background-color: #1e2126;
    color: white;
    width: 1300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
                0px 0px 10px rgba(0, 0, 0, 0.2);
}

.center-box-home p {
    font-size: 21px;
    text-align: center;
}

ul {
    color: white;
    font-size: 21px;
}

.btn-outline-primary {
    font-size: 21px;
    height: 85px;
    width: 200px;
    margin-top: 45px;
}

h1 {
    color: white;
}

